<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <!--<img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />-->
    </div>
    <div class="six columns">
      <h5> Service Disruption </h5>
      <ul>
        <li> data wrangling, classification</li>
      </ul>
      <p>The objective of this project was to predict the fault severity of a particular location.</p>
      <a class="project-link" href="https://dkim92.github.io/service_disruption/ServiceDisruption.html">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <!--<img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />-->
    </div>
    <div class="six columns">
      <h5> Loan Default </h5>
      <ul>
        <li> data munging, modeling, classification</li>
      </ul>
      <p>The objective of this project was to predict whether or not the receipient of a loan will default.</p>
      <a class="project-link" href="https://dkim92.github.io/loan_default_prediction/Loan_Default_Prediction.html">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <!--<img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />-->
    </div>
    <div class="six columns">
      <h5> House Price Prediction </h5>
      <li> data cleaning, data munging, regression</li>
      <p>This project is a Kaggle competition in which the objective is to predict house prices in Ames, Iowa</p>
      <a class="project-link" href="https://dkim92.github.io/House_Price_Prediction/House_Price_Prediction.html">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <!--<img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />-->
    </div>
    <div class="six columns">
      <h5> Titanic Survival Prediction </h5>
      <li> data munging, feature selection, classification</li>
      <p>This project is an ongoing Kaggle competition in which the objective of this project was to predict the survival of the passengers on the Titanic. Scored in the top 4% on Kaggle.</p>
      <a class="project-link" href="https://dkim92.github.io/Titanic-Prediction/Titanic_Prediction.html">Check it out</a>
    </div>
  </div> 
</div>
