<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="telecommunication" src="{{ "/assets/img/telecommunication.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Service Disruption </h5>
      <li> data cleaning, data munging</li>
      <p>This project was design to take data sets and clean the data set for duplicate data.</p>
      <a class="project-link" href="https://github.com/dkim92/service_disruption">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Loan Default </h5>
      <ul>
        <li> data munging, modelling, classification</li>
      </ul>
      <p>This objective of this project was to predict whether or not the receipient of a loan will default.</p>
      <a class="project-link" href="https://github.com/dkim92/loan_default">Check it out</a>
    </div>
  </div>
</div>
